/* App.css */
body.light {
  background-color: #ffffff;
  color: #000000;
}

body.dark {
  background-color: #121212;
  color: #ffffff;
}

.app {
  text-align: center;
  margin-top: 100px;
}

button {
  padding: 10px 20px;
  cursor: pointer;
}
